body
{ 
background-color: "#ffffff";
background-repeat: no-repeat;
margin: 0px 0px 0px 0px;
text-align: center;
height: 100%;
width: 100%;
}


/* ---------------------------------------------- */
/* HEAD BUTTONS */



#h_btn01, #h_btn02, #h_btn03, #h_btn04, #h_btn05, #h_btn06, #h_btn07, #h_btn08, #h_btn09, #h_btn10,
#h_btn01_c, #h_btn02_c, #h_btn03_c, #h_btn04_c, #h_btn05_c, #h_btn06_c, #h_btn07_c, #h_btn08_c, #h_btn09_c, #h_btn10_c
	{display: block; padding-left: 0px; margin-left: 0px; float: left;}

/* UNUSED HEAD BUTTONS */

#h_btn08, #h_btn09, #h_btn10 {visibility: hidden;}
 
/* HEAD BUTTON ROLLOVER EFFECT */

#h_btn01 a {background: url(graphics/head_b1.gif) no-repeat; position: absolute; background-position: 0px 0px;}
#h_btn01 a:visited {background-position: 0px 0px;}
#h_btn01 a:hover {background-position: 0px -21px;}
#h_btn01 a:active {background-position: 0px -42px;}
#h_btn01_c a {background: url(graphics/head_b1.gif) no-repeat; position: absolute; background-position: 0px -21px;}

#h_btn02 a {background: url(graphics/head_b2.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 66px;}
#h_btn02 a:visited {background-position: 0px 0px;}
#h_btn02 a:hover {background-position: 0px -21px;}
#h_btn02 a:active {background-position: 0px -42px;}
#h_btn02_c a {background: url(graphics/head_b2.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 66px;}

#h_btn03 a {background: url(graphics/head_b3.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 137px;}
#h_btn03 a:visited {background-position: 0px 0px;}
#h_btn03 a:hover {background-position: 0px -21px;}
#h_btn03 a:active {background-position: 0px -42px;}
#h_btn03_c a {background: url(graphics/head_b3.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 137px;}

#h_btn04 a {background: url(graphics/head_b4.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 242px;}
#h_btn04 a:visited {background-position: 0px 0px;}
#h_btn04 a:hover {background-position: 0px -21px;}
#h_btn04 a:active {background-position: 0px -42px;}
#h_btn04_c a {background: url(graphics/head_b4.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 242px;}

#h_btn05 a {background: url(graphics/head_b5.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 344px;}
#h_btn05 a:visited {background-position: 0px 0px;}
#h_btn05 a:hover {background-position: 0px -21px;}
#h_btn05 a:active {background-position: 0px -42px;}
#h_btn05_c a {background: url(graphics/head_b5.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 344px;}

#h_btn06 a {background: url(graphics/head_b6.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 414px;}
#h_btn06 a:visited {background-position: 0px 0px;}
#h_btn06 a:hover {background-position: 0px -21px;}
#h_btn06 a:active {background-position: 0px -42px;}
#h_btn06_c a {background: url(graphics/head_b6.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 414px;}

#h_btn07 a {background: url(graphics/head_b7.gif) no-repeat; position: absolute; background-position: 0px 0px; left: 491px;}
#h_btn07 a:visited {background-position: 0px 0px;}
#h_btn07 a:hover {background-position: 0px -21px;}
#h_btn07 a:active {background-position: 0px -42px;}
#h_btn07_c a {background: url(graphics/head_b7.gif) no-repeat; position: absolute; background-position: 0px -21px; left: 491px;}

img.h_button {border: 0px; padding: 0px;}

div.head_buttons {position: absolute; margin-top: 0px; top: 82px; left: 95px; z-index: 10;}



/* ---------------------------------------------- */
/* NAVIGATION BUTTONS */


img.n_title {border: 0px; padding: 0px;}
img.n_titleProduct {border: 0px; padding: 0px; height: 87px; width: 582px;}
img.n_button {border: 0px; padding: 0px; height: 15px; width: 143px;}
img.n_buttonProduct {border: 0px; padding: 0px; height: 60px; width: 87px;}
img.n_buttonBuyNow {border: 0px; padding: 0px; height: 29px; width: 127px;}
img.n_buttonFreeDownload {border: 0px; padding: 0px; height: 44px; width: 127px;}

div.nav_buttons {position: absolute; margin-top: 0px; width: 143; top: 121px; left: 0px; z-index: 10;}



/* NEWS NAV BUTTON ROLLOVER EFFECT */

#n_newBtn01 a {background: url(graphics/nav_bNews01.gif) no-repeat; position: absolute;}

#n_newBtn02 a {background: url(graphics/nav_bNews02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 23px;}
#n_newBtn02 a:visited {background-position: 0px 0px;}
#n_newBtn02 a:hover {background-position: 0px -15px;}
#n_newBtn02 a:active {background-position: 0px -30px;}

#n_newBtn03 a {background: url(graphics/nav_bNews03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 38px;}
#n_newBtn03 a:visited {background-position: 0px 0px;}
#n_newBtn03 a:hover {background-position: 0px -15px;}
#n_newBtn03 a:active {background-position: 0px -30px;}


/* PORTFOLIO NAV BUTTON ROLLOVER EFFECT */

#n_portBtn01 a {background: url(graphics/nav_bPortfolio01.gif) no-repeat; position: absolute;}

#n_portBtn02 a {background: url(graphics/nav_bPortfolio02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 23px;}
#n_portBtn02 a:visited {background-position: 0px 0px;}
#n_portBtn02 a:hover {background-position: 0px -15px;}
#n_portBtn02 a:active {background-position: 0px -30px;}

#n_portBtn03 a {background: url(graphics/nav_bPortfolio03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 38px;}
#n_portBtn03 a:visited {background-position: 0px 0px;}
#n_portBtn03 a:hover {background-position: 0px -15px;}
#n_portBtn03 a:active {background-position: 0px -30px;}

#n_portBtn04 a {background: url(graphics/nav_bPortfolio04.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 53px;}
#n_portBtn04 a:visited {background-position: 0px 0px;}
#n_portBtn04 a:hover {background-position: 0px -15px;}
#n_portBtn04 a:active {background-position: 0px -30px;}

#n_portBtn05 a {background: url(graphics/nav_bPortfolio05.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 68px;}
#n_portBtn05 a:visited {background-position: 0px 0px;}
#n_portBtn05 a:hover {background-position: 0px -15px;}
#n_portBtn05 a:active {background-position: 0px -30px;}

/* PRODUCTS MAIN NAV BUTTON ROLLOVER EFFECT */

#n_prodMainBtn01 a {background: url(graphics/nav_bProductsMain01.gif) no-repeat; position: absolute;}

#n_prodMainBtn02 a {background: url(graphics/nav_bProductsMain02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 23px;}
#n_prodMainBtn02 a:visited {background-position: 0px 0px;}
#n_prodMainBtn02 a:hover {background-position: 0px -15px;}
#n_prodMainBtn02 a:active {background-position: 0px -30px;}

#n_prodMainBtn03 a {background: url(graphics/nav_bProductsMain03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 38px;}
#n_prodMainBtn03 a:visited {background-position: 0px 0px;}
#n_prodMainBtn03 a:hover {background-position: 0px -15px;}
#n_prodMainBtn03 a:active {background-position: 0px -30px;}

#n_prodMainBtn04 a {background: url(graphics/nav_bProductsMain04.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 53px;}
#n_prodMainBtn04 a:visited {background-position: 0px 0px;}
#n_prodMainBtn04 a:hover {background-position: 0px -15px;}
#n_prodMainBtn04 a:active {background-position: 0px -30px;}

#n_prodMainBtn05 a {background: url(graphics/nav_bProductsMain05.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 68px;}
#n_prodMainBtn05 a:visited {background-position: 0px 0px;}
#n_prodMainBtn05 a:hover {background-position: 0px -15px;}
#n_prodMainBtn05 a:active {background-position: 0px -30px;}

#n_prodMainBtn06 a {background: url(graphics/nav_bProductsMain06.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 98px;}
#n_prodMainBtn06 a:visited {background-position: 0px 0px;}
#n_prodMainBtn06 a:hover {background-position: 0px -15px;}
#n_prodMainBtn06 a:active {background-position: 0px -30px;}

/* PRODUCT NAV BUTTON ROLLOVER EFFECT */

#n_prodBtn01ARN a {background: url(graphics/nav_bProduct01ARN.gif) no-repeat; position: absolute; background-position: 0px 0px; top: -20px;}
#n_prodBtn01ART a {background: url(graphics/nav_bProduct01ART.gif) no-repeat; position: absolute; background-position: 0px 0px; top: -20px;}
#n_prodBtn01TFM a {background: url(graphics/nav_bProduct01TFM.gif) no-repeat; position: absolute; background-position: 0px 0px; top: -20px;}
#n_prodBtn01TSM2 a {background: url(graphics/nav_bProduct01TSM2.gif) no-repeat; position: absolute; background-position: 0px 0px; top: -20px;}

#n_prodBtn02 a {background: url(graphics/nav_bProduct02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 70px;}
#n_prodBtn02 a:visited {background-position: 0px 0px;}
#n_prodBtn02 a:hover {background-position: 0px -15px;}
#n_prodBtn02 a:active {background-position: 0px -30px;}

#n_prodBtn03 a {background: url(graphics/nav_bProduct03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 85px;}
#n_prodBtn03 a:visited {background-position: 0px 0px;}
#n_prodBtn03 a:hover {background-position: 0px -15px;}
#n_prodBtn03 a:active {background-position: 0px -30px;}

#n_prodBtn04 a {background: url(graphics/nav_bProduct04.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 100px;}
#n_prodBtn04 a:visited {background-position: 0px 0px;}
#n_prodBtn04 a:hover {background-position: 0px -15px;}
#n_prodBtn04 a:active {background-position: 0px -30px;}

#n_prodBtn05 a {background: url(graphics/nav_bProduct05.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 115px;}
#n_prodBtn05 a:visited {background-position: 0px 0px;}
#n_prodBtn05 a:hover {background-position: 0px -15px;}
#n_prodBtn05 a:active {background-position: 0px -30px;}

#n_prodBtn06 a {background: url(graphics/nav_bProduct06.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 130px;}
#n_prodBtn06 a:visited {background-position: 0px 0px;}
#n_prodBtn06 a:hover {background-position: 0px -15px;}
#n_prodBtn06 a:active {background-position: 0px -30px;}

#n_prodBtn07 a {background: url(graphics/nav_bProduct07.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 145px;}
#n_prodBtn07 a:visited {background-position: 0px 0px;}
#n_prodBtn07 a:hover {background-position: 0px -15px;}
#n_prodBtn07 a:active {background-position: 0px -30px;}

#n_prodBtn08 a {background: url(graphics/nav_bProduct08.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 160px;}
#n_prodBtn08 a:visited {background-position: 0px 0px;}
#n_prodBtn08 a:hover {background-position: 0px -15px;}
#n_prodBtn08 a:active {background-position: 0px -30px;}

#n_prodBtn09 a {background: url(graphics/nav_bProduct09.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 175px;}
#n_prodBtn09 a:visited {background-position: 0px 0px;}
#n_prodBtn09 a:hover {background-position: 0px -15px;}
#n_prodBtn09 a:active {background-position: 0px -30px;}

#n_prodBtn10 a {background: url(graphics/nav_bProduct10.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 190px;}
#n_prodBtn10 a:visited {background-position: 0px 0px;}
#n_prodBtn10 a:hover {background-position: 0px -15px;}
#n_prodBtn10 a:active {background-position: 0px -30px;}


#n_softwareBtn01 a {background: url(graphics/nav_bSoftware01.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 215px;}
#n_softwareBtn01 a:visited {background-position: 0px 0px;}
#n_softwareBtn01 a:hover {background-position: 0px -60px;}
#n_softwareBtn01 a:active {background-position: 0px -120px;}
#n_softwareBtn01_c a {background: url(graphics/nav_bSoftware01.gif) no-repeat; position: absolute; background-position: 0px -60px; top: 215px;}

#n_softwareBtn02 a {background: url(graphics/nav_bSoftware02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 275px;}
#n_softwareBtn02 a:visited {background-position: 0px 0px;}
#n_softwareBtn02 a:hover {background-position: 0px -60px;}
#n_softwareBtn02 a:active {background-position: 0px -120px;}
#n_softwareBtn02_c a {background: url(graphics/nav_bSoftware02.gif) no-repeat; position: absolute; background-position: 0px -60px; top: 275px;}

#n_softwareBtn03 a {background: url(graphics/nav_bSoftware03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 335px;}
#n_softwareBtn03 a:visited {background-position: 0px 0px;}
#n_softwareBtn03 a:hover {background-position: 0px -60px;}
#n_softwareBtn03 a:active {background-position: 0px -120px;}
#n_softwareBtn03_c a {background: url(graphics/nav_bSoftware03.gif) no-repeat; position: absolute; background-position: 0px -60px; top: 335px;}

#n_softwareBtn04 a {background: url(graphics/nav_bSoftware04.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 395px;}
#n_softwareBtn04 a:visited {background-position: 0px 0px;}
#n_softwareBtn04 a:hover {background-position: 0px -60px;}
#n_softwareBtn04 a:active {background-position: 0px -120px;}
#n_softwareBtn04_c a {background: url(graphics/nav_bSoftware04.gif) no-repeat; position: absolute; background-position: 0px -60px; top: 395px;}


#n_buyNowBtn a {background: url(graphics/nav_bBuyNow.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 165px; left: 615px;}
#n_buyNowBtn a:visited {background-position: 0px 0px;}
#n_buyNowBtn a:hover {background-position: 0px -29px;}
#n_buyNowBtn a:active {background-position: 0px -58px;}

#n_softwareBuyNowBtn a {background: url(graphics/nav_bBuyNow.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 265px; left: 450px;}
#n_softwareBuyNowBtn a:visited {background-position: 0px 0px;}
#n_softwareBuyNowBtn a:hover {background-position: 0px -29px;}
#n_softwareBuyNowBtn a:active {background-position: 0px -58px;}

#n_softwareBuyNowBtn2 a {background: url(graphics/nav_bBuyNow.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 505px; left: 450px;}
#n_softwareBuyNowBtn2 a:visited {background-position: 0px 0px;}
#n_softwareBuyNowBtn2 a:hover {background-position: 0px -29px;}
#n_softwareBuyNowBtn2 a:active {background-position: 0px -58px;}

#n_freeDownloadBtn a {background: url(graphics/nav_bFreeDownload.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 165px; left: 615px;}
#n_freeDownloadBtn a:visited {background-position: 0px 0px;}
#n_freeDownloadBtn a:hover {background-position: 0px -44px;}
#n_freeDownloadBtn a:active {background-position: 0px -88px;}



/* ABOUT NAV BUTTON ROLLOVER EFFECT */

#n_aboutBtn01 a {background: url(graphics/nav_bAbout01.gif) no-repeat; position: absolute;}

#n_aboutBtn02 a {background: url(graphics/nav_bAbout02.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 23px;}
#n_aboutBtn02 a:visited {background-position: 0px 0px;}
#n_aboutBtn02 a:hover {background-position: 0px -15px;}
#n_aboutBtn02 a:active {background-position: 0px -30px;}

#n_aboutBtn03 a {background: url(graphics/nav_bAbout03.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 38px;}
#n_aboutBtn03 a:visited {background-position: 0px 0px;}
#n_aboutBtn03 a:hover {background-position: 0px -15px;}
#n_aboutBtn03 a:active {background-position: 0px -30px;}

#n_aboutBtn04 a {background: url(graphics/nav_bAbout04.gif) no-repeat; position: absolute; background-position: 0px 0px; top: 53px;}
#n_aboutBtn04 a:visited {background-position: 0px 0px;}
#n_aboutBtn04 a:hover {background-position: 0px -15px;}
#n_aboutBtn04 a:active {background-position: 0px -30px;}


/* ---------------------------------------------- */
/* FONT RULES */



p	{font-weight: 500; 
	font-size: 12px; 
	font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
	border: 0px; 
	padding: 0px; 
	margin: 0px 0px 0px 0px;
	text-indent: 10px;
	z-index: 1;
	}

.type01, .type02, type03
	{text-indent: 0px; margin: 0px;} 

.date	{font: 11px arial;}


h1{font: bold 20px arial; margin: 5px 0px 0px 0px;}

h2{font: bold 18px arial; margin: 5px 0px 0px 0px;}

h3{font: bold 16px arial; margin: 5px 0px 0px 0px;}

h4{font: bold 14px arial; margin: 5px 0px 0px 0px;}

h5{font: bold 12px arial; margin: 5px 0px 0px 0px;}

h6{font: bold 10px arial; margin: 5px 0px 0px 0px;}




/* ---------------------------------------------- */
/* LINK RULES */



a:link {color: #0066B2; font-weight: bold; text-decoration: none}

a:visited {color: #0066B2; font-weight: bold; text-decoration: none}

a:hover {color: #6CAAD9; font-weight: bold; text-decoration: underline}

a:active {color: #6CAAD9; font-weight: bold; text-decoration: none}



a.title:link {color: #000000; text-decoration: none}

a.title:visited {color: #000000; text-decoration: none}

a.title:hover {color: #424242; text-decoration: underline}

a.title:active {color: #424242; text-decoration: none}




/* ---------------------------------------------- */
/* DIVISION RULES */



div.container
	{position: relative; 
	display: block;
	text-align: left; 
	margin: 0 auto; 
	top: 0px;
	width: 760px; 
	}

div.content  
	{position: absolute; 
	top: 0px; 
	left: 0px; 
	height: 100%;
	width: 760px;
	visibility: visible;
	display: block;
	}

div.header
	{background: url(graphics/headerBG.gif) repeat-x; 
	margin-top: 0; 
	position: absolute;
	width: 760px; 
	height: 104px;
	top: 0px; 
	left: 0px; 
	z-index: 1;
	visibility: visible;
	}

div.maintext
	{position: absolute; 
	width: 615px;
	left: 142px; 
	top: 103px; 
	z-index: 5;
	}


/* Navigator Buttons and Backgrounds */

div.nav01, div.nav02, div.nav03, div.nav 04, div.nav05
	{margin-top: 0; 
	position: absolute;
	top: 0px; 
	left: 0px;
	z-index: 2; 
	visibility: visible;
	}


div.nav01
	{background: url(graphics/navBG_01.gif) no-repeat;position: absolute; width: 143px; height: 838px; z-index: 2;}
 
div.nav02
	{background: url(graphics/navBG_02.gif) no-repeat;position: absolute; width: 143px; height: 838px; z-index: 2;}

div.nav03
	{background: url(graphics/navBG_03.gif) no-repeat;position: absolute; width: 143px; height: 600px; z-index: 2;}

div.nav05
	{background: url(graphics/navBG_05.gif) no-repeat;position: absolute; width: 143px; height: 838px; z-index: 2;}


/* ---------------------------------------------- */
/* JAVA SCRIPT DIVISIONS */



div.copyright_main
	{position: absolute;
	text-align: center;
	width: 760px;
	top: 560px;
	}


div.copyright
	{position: relative;
	text-align: center;
	bottom: 0px;
	left: -72px;
	}

div.java01
	{
	}
 
div.java02
	{
	}
 
div.java03
	{
	}

/* ---------------------------------------------- */
/* FORM RULES */


input, select, textarea
{
color: #285577;
background: #E8F5FE;
border: 1px solid #285577;
}

.submit input
{
color: #000;
background: #E8F5FE;
border: 10px outset #285577
} 




/* ---------------------------------------------- */
/* IMAGE RULES */



img.logo
	{z-index: 1;
	position:absolute;
	left:220px;
	top:2px;
	}